[Desktop Entry]
Name=Mozilla Thunderbird (bin)
Comment=Mail & News Reader
Exec=/usr/bin/thunderbird-bin
Icon=thunderbird
Terminal=false
Type=Application
Categories=Office;Network;Email;
MimeType=x-scheme-handler/mailto;
X-XFCE-Source=file:///usr/share/applications/thunderbird-bin.desktop
Path=
StartupNotify=false
