[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=GitHub
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=eimcapacdooafbkpiojjmlmclkobnlei
Icon=chrome-eimcapacdooafbkpiojjmlmclkobnlei-Default
StartupWMClass=crx_eimcapacdooafbkpiojjmlmclkobnlei
X-XFCE-Source=file:///media/Dati/Git/Dotfiles/Gentoo/home/Scripts/App-&-Weblinks/Chrome-Apps/chrome-eimcapacdooafbkpiojjmlmclkobnlei-Default.desktop
Comment=
Path=
StartupNotify=false
