[Desktop Entry]
Version=1.0
Name=Xfce Terminal
Name[it]=Terminale  Root
Comment=Terminal Emulator
Comment[it]=Terminale Amministratore
GenericName=Terminal Emulator
GenericName[it]=Emulatore di Terminale
Exec=sudo sakura
Icon=utilities-terminal-root
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=true
X-XFCE-Source=file:///usr/share/applications/xfce4-terminal-settings.desktop
Path=/
